/* Завдання 6 */
* {
    margin: 0;
    padding: 0;
   }
  
   /* more styles */
   @import url("my-imported-styles.css");

   /* Завдання 8 */
   /* Використання змінних для елемента body */
body {
    color: var(--primary-text-color);
    background-color: var(--primary-bg-color);
  }
  