h1, h2, h3 {
    color: gray;
}

#main {
    color: #e60202;
}

.h2 {
    color: red
}

.heading {
    color: green;
}

section > p {
    color: red;
   }

   section p {
    font-size: 30px;
  }

  p.first a {
    color: green;
}

body > h2:first-of-type {
    color: indigo;
}

p.first span.first a {
    color: green;
}

div p {
    color: salmon;
}


.translucent-box {
    background: hsla(0, 100%, 50%, 0.5);
    /* Hue = 0deg, Saturate = 100%, Lightness = 50%, Alpha = 0.5 (напівпрозорий) */
    width: 180px;
    height: 180px;
    border: 2px solid black;
}

/* 
Завдання 7: якщо базовий розмір шрифту для кореневого елементу становить 100%,
то розмір шрифту для body, що успадковує розмір шрифту кореневого елемента, становитиме 140%,
а розмір шрифту для h1, що успадковує розмір шрифту кореневого елемента, становитиме 240%
*/


/* 
Завдання 5:
Чорний (black):
Шістнадцятковий код: #000000
Десяткова система: RGB(0, 0, 0)
Відсотки: RGB(0%, 0%, 0%)
Альфа-канал: RGBA(0, 0, 0, 1)

Синій (blue):
Шістнадцятковий код: #0000FF
Десяткова система: RGB(0, 0, 255)
Відсотки: RGB(0%, 0%, 100%)
Альфа-канал: RGBA(0, 0, 255, 1)

Зелений (green):
Шістнадцятковий код: #00FF00
Десяткова система: RGB(0, 255, 0)
Відсотки: RGB(0%, 100%, 0%)
Альфа-канал: RGBA(0, 255, 0, 1)

Червоний (red):
Шістнадцятковий код: #FF0000
Десяткова система: RGB(255, 0, 0)
Відсотки: RGB(100%, 0%, 0%)
Альфа-канал: RGBA(255, 0, 0, 1)

Білий (white):
Шістнадцятковий код: #FFFFFF
Десяткова система: RGB(255, 255, 255)
Відсотки: RGB(100%, 100%, 100%)
Альфа-канал: RGBA(255, 255, 255, 1)

Жовтий (yellow):
Шістнадцятковий код: #FFFF00
Десяткова система: RGB(255, 255, 0)
Відсотки: RGB(100%, 100%, 0%)
Альфа-канал: RGBA(255, 255, 0, 1) 
*/
