.grid {
  --min: 30ch;
  
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--min), max(1fr, var(--min))));
  gap: 1rem;
}

.card {
  min-width: 100%;
}

body {
  --padding: 5vw;
  --max-width: 180ch;
}
